<!DOCTYPE html>
<html lang="en">
    <head>   
        {% load static %}

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="{% static 'sakkyokuapp/javascript/index.js' %}"></script>
        <meta charset="utf-8">
        <meta http-equiv="Cache-Control" content="no-cache">

        <link type="text/css" rel="stylesheet" href="{% static 'sakkyokuapp/style/pc.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'sakkyokuapp/style/sp.css' %}">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
        <title>作曲.jp</title>
    </head>
    <body>
    
    <div id="header">
        <h1>作曲.jp</h1>
    </div>
    <div id="header-menu">
        <ul class="clearfix">
            <li class="home"><a href="/">トップ<br /><span class="sub">Top</span></a></li>
            <li><a href="/sequencer.html">新しく曲を作成<br /><span class="sub">Top</span></a></li>
            <li><a href="/contact">お問い合わせ<br /><span class="sub">Contact</span></a></li>
        </ul>
    </div>
    <div id="contents">
        <h3 class="point"><a href="sequencer.html">曲を作成</a></h3>
        
        <div id="song_list">
            <h2>最近アップロードされた曲</h2>
            <div id="top_song_list">
                <p>Loading...</p>
            </div>

            <h2>自分の曲</h2>
            <div id="my_song_list">
                <p>Loading...</p>
            </div>
        </div>
    </div>

    </body>
</html>
   