<!DOCTYPE html>
<html lang="en">
    <head>   
    
    	<meta charset="utf-8">
        <meta http-equiv="Cache-Control" content="no-cache">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
        

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

        {% load static %}

        {% csrf_token %}

        <script src="{% static 'sakkyokuapp/javascript/WebMIDIPlayer.js' %}"></script>
        <script src="{% static 'sakkyokuapp/javascript/web-audio-scheduler.js' %}"></script>
        <script src="{% static 'sakkyokuapp/javascript/SoundManager.js' %}"></script>
        <script src="{% static 'sakkyokuapp/javascript/QueryProcessor.js' %}"></script> 
        <script src="{% static 'sakkyokuapp/javascript/instruments.js' %}"></script>
        <script src="{% static 'sakkyokuapp/javascript/Track.js' %}"></script>
        <script src="{% static 'sakkyokuapp/javascript/Song.js' %}"></script>
        <script src="{% static 'sakkyokuapp/javascript/Sequencer.js' %}"></script>
        <script src="{% static 'sakkyokuapp/javascript/ui.js' %}"></script>
        <script src="{% static 'sakkyokuapp/javascript/Controls.js' %}"></script>
        <script src="{% static 'sakkyokuapp/javascript/SongLoader.js' %}"></script> 
        <script src="{% static 'sakkyokuapp/javascript/SequencerInit.js' %}"></script> 
        
        <title>作曲.jp</title>
        <link type="text/css" rel="stylesheet" href="{% static 'sakkyokuapp/style/main.css' %}">
    </head>
    <body>
    
    <div id="menu">
        <div id="options">
            <div id="note-lengths">   
                <div id="whole"><img src="{% static 'sakkyokuapp/images/whole-note.jpg' %}" alt="whole note" height="30" width="25"/></div>
                <div id="half"><img src="{% static 'sakkyokuapp/images/half-note.jpg' %}" alt="half note" height="30" width="25"/></div>
                <div id="quarter"><img src="{% static 'sakkyokuapp/images/quarter-note.jpg' %}" alt="quarter note" height="30" width="25"/></div>
                <div id="eight"><img src="{% static 'sakkyokuapp/images/eigth-note.jpg' %}" alt="eighth note" height="30" width="25"/></div>
                <div id="sixteenth"><img src="{% static 'sakkyokuapp/images/sixteenth-note.jpg' %}" alt="sixteenth note" height="30" width="25"/></div>
            </div>
            付点:<input type="checkbox" id="note-point-checkbox">
    
            <div id="song-controls">
                <span>Tempo: </span><input id = "tempo" type="number" min="30" max="400" step="1" value="100">
                <button id="play-button"><img src="{% static 'sakkyokuapp/images/play.png' %}" alt="play" height="32" width="32"/></button>
            </div>
            <div id="tracks-container">
                トラック:
                <select name="tracks" id="tracks">
    
                </select>

                トラックの音量:<input type="range" id="track-volume-slider" min="0" max="127">

                楽器:
                <select name="instruments" id="instruments">
    
                </select>

                <button id="clear">Clear Track</button>
            </div>
            <div>
                
            </div>
            
            <div id="song-info-controls">
                曲名: <input type="text" id="song-name-textbox">
                <button id="save-button">保存</button>
                <button id="release-button">公開</button>
                <button id="create-new-song-button">新しい曲の作成</button>
                <span id="status-text"></span>
            </div>

            <form id="upload-midi" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                MIDIファイルのインポート: <input type="file" id="midi-file" name="mididata" value="">
                <input type="submit" name="submit" id="button-midi-submit" value="インポート">
            </form>

            <div id="edit-controls">
                <button id="octave-up-button" onclick="sequencer.transposeCurrentTrack(12)">1オクターブ上げる</button>
                <button id="octave-down-button" onclick="sequencer.transposeCurrentTrack(-12)">1オクターブ下げる</button>
            </div>
            
            <a href="index.html">トップへ</a>
        </div>

    </div>

    <div id="blank"> 
        <!-- masure counterを右に動かすための要素 -->
    </div>
    <div id="measure-counter-container">
        <div id="measure-counter">
            <canvas id="measure-counter-canvas" width="3200" height="15"></canvas>
        </div>    
    </div>

        
    <div id="main">
        <div id="piano-container">
            <div id="piano">
                 <canvas id="white-keys"  width="50"></canvas>                
                 <canvas id="black-keys"  width="50"></canvas>
            </div>
        </div>
        <div id="grid-container">
            <div id="grid">
                <canvas id="canvas-notes" width="3200"></canvas>
                <canvas id="canvas-grid" width="3200"></canvas>
            </div>
        </div>    
    </div>

    </body>
</html>
   